
.main {
    height: calc(100vh-150px);
    width: 100%;
    margin-top: 100px;

}

.form {
    display: flex;
    flex-direction: column;
    background-color: #2b3035;
    width: 30%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    justify-items: center;
    min-width: 400px;
    border-radius: 20px;

}

.form .header {
    text-align: center;
    color: #f2f2f2;
    padding: 4px;
    font-size: 32px;
    font-weight: 500;


}

.form .header:hover {
    color: yellow;
  
}

.form button {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top:20px ;
    font-size: 18px;
    font-weight: 700;
    background-color: brown;
    border: none;
      color:#f3f3f3;
      padding:10px;
}
.form button:hover{
    background-color: #f2f2f2;
    color:brown;
}